@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
 
<h1>Example 1: Search</h1>
 
<div class="row">
    <form method="get" action="" class="row">
        <div class="form-group col-md-10">
            <input id="searchTerm" name="searchTerm" class="form-control" />
        </div>
        <div class="form-group col-md-2">
            <input type="submit" id="btn" value="Search" class="btn btn-primary" />
        </div>
    </form>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.Raw(Model.Result)
    </div>
</div>

